body, html {
	/* Move the Fotolia container outside the margins instead of doing this sitewide
	margin:0;
	*/
	height: 95%;
	color:#fff;
	font-family: 'Lato', sans-serif;
}
div#fotoliacontainer {
	margin: -8px;
}
div#fotoliainnercontainer {
	max-height:250px;
	overflow:hidden;

}
img#fotolia {
	width:100%;
	min-height:250px;
}
h2, p {
}
a {
	color:#fff;
}
a:hover {
	color:#88cbfa;
	text-decoration: none;
}
a:active {
	color:#f00;
	text-decoration: none;
}
/* For clearing floats */
.clearfix {
	overflow: auto;
}
div.divider {
	background-color:#000;
}
/* Make Contact Form 7 fit on smartphones */
input.wpcf7-form-control.wpcf7-text {
	width:325px;
}
span.wpcf7-form-control-wrap.your-message textarea {
	width:325px;
	height:150px;
}

/* These are not currently being used, but seem to be necessary for the TinyMCE WYSIWYG editor to left, center or right align images. Copied from: https://codex.wordpress.org/Wrapping_Text_Around_Images */
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

/* Always vertically align content in table cells */
td {
    vertical-align: top;
}
/* Add padding to the right of the screenshots */
td:nth-of-type(1) {
    padding-right:5px;
}
/* Make screenshot images responsive (Make this more specific and less global later) -10/26/2016 */
img {
	/* Doesn't seem to be necessary
    vertical-align: middle;
    */
    height: auto;
    max-width: 100%;
}
td {
	width: 50%;
}
tr {
	display:table-row;
}
/* End making screenshot images responsive */
/* dev
table, tr, td {
	border: 1px #f00 solid;
}
*/

.edit-link {
	font-weight:normal;
	font-size:12px;
}

a.headerhomelink {
	text-decoration: none;
}
/* Remove space between project titles and categories */
h2.project-title {
	margin:0;
}
h5.categories {
	margin:5px 0 0 0;
}
