body, html {
	height: 95%;
	color:#fff;
	font-family: 'Lato', sans-serif;
}
/* Homepage image */
div#fotoliacontainer {
	margin: 0 -8px;
}
div#fotoliainnercontainer {
	max-height:100px;
	overflow:hidden;
}
img#fotolia {
	width:100%;
	min-height:100px;
}
@media screen and (min-width: 700px) {
	div#fotoliainnercontainer {
		max-height:250px;
	}
	img#fotolia {
		min-height:250px;
	}
}
@media screen and (min-width: 1200px) {
	div#fotoliainnercontainer {
		max-height:400px;
	}
	img#fotolia {
		min-height:400px;
	}
}
/* END: Homepage image */
h2, p {
}
a {
	color:#fff;
}
a:hover {
	color:#88cbfa;
	text-decoration: none;
}
a:active {
	color:#f00;
	text-decoration: none;
}
/* For clearing floats */
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
div.divider {
	background-color:#000;
}
/* Make Contact Form 7 fit on smartphones */
input.wpcf7-form-control.wpcf7-text {
	width:325px;
}
span.wpcf7-form-control-wrap.your-message textarea {
	width:325px;
	height:150px;
}

/* These are not currently being used, but seem to be necessary for the TinyMCE WYSIWYG editor to left, center or right align images. Copied from: https://codex.wordpress.org/Wrapping_Text_Around_Images */
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

/* Always vertically align content in table cells */
td {
    vertical-align: top;
}
/* Add padding to the right of the screenshots */
td:nth-of-type(1) {
    padding-right:5px;
}
/* Make screenshot images responsive (Make this more specific and less global later) -10/26/2016 */
img {
	/* Doesn't seem to be necessary
    vertical-align: middle;
    */
    /* Also no longer necessary, and causes problems
    height: auto;
    max-width: 100%;
    */
}
td {
	width: 50%;
}
tr {
	display:table-row;
}
/* End making screenshot images responsive */

span.edit-link {
	font-weight:normal;
	font-size:12px;
}
span.edit-link a {
	color:#f66;
}

/* Living Streets header (Note: Other styles are set in header.php using jQuery) */
div#living-streets-header {
	margin: 20px 0 15px 0;
}
div#living-streets-header div {
	float: left;
	height: 100px;
	line-height: 100px;
}
div#living-streets-header div:nth-of-type(1) {
	padding-right: 15px;
}
div#living-streets-header img {
	border:3px #fff solid;
}
div#living-streets-header h1 {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	line-height: 40px;
	/* Disable selecting text in "Living Streets Consulting" */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
div#living-streets-header h1 a {
	text-decoration: none;
}
/* Wrap "Living Streets Consulting" if necessary */
@media screen and (max-width: 510px) {
	div#living-streets-header h1 {
		width: 200px;
	}
}
/* END Living Streets header */

.page-title {
	margin-top:30px;
}
/* Remove space between project titles and categories */
.project-title {
	margin-bottom:0;
}
h5.categories {
	margin:5px 0 20px 0;
}
/* Reduce spacing below "Description" on project pages */
div.entry-content p.description {
	margin-bottom: 0;
}
div.entry-content p:nth-of-type(2) {
	margin-top: 5px;
}
/* Reduce spacing below "Description" on project pages */
article p.screenshot {
	margin: 25px 0 5px 0;
}
.admin-notice {
	color:#f00;
}
div.section-divider {
	margin-top:50px;
	border-bottom: 1px #fff dashed; /* or dotted */
}
img.profile-button {
	border:1px #000 solid;
	vertical-align:middle;
}
span.non-bold {
	font-weight: normal;
}
